<h3> What we do</h3>
<p>iTalkMedia is a jRuby on Rails platform that allows you to manage your music library easily. You may browse your favourites artists, get recommendations for musics that you probably forgot and use our semantic search engine to talk with your library.</p>